 <form name="contact" netlify-honeypot="human" data-netlify="true" data-netlify-recaptcha="true" class="ui form">
        <p>Contact Us for a quote.</p>
        <p style="display:none;">
            <label>Don’t fill this out if you're human: <input name="human" /></label>
        </p>
        <div class="field">
            <label>Name:</label> 
            <div class="two fields">
                <div class="field">
                    <input type="text" name="firstname" placeholder="First Name" />
                </div>
                <div class="field">
                    <input type="text" name="lastname" placeholder="Last Name" />
                </div>
            </div>
        </div>
        <div class="field">
            <label>Contact Information:</label> <input type="text" name="company" placeholder="Company Name" />
        </div>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <input type="number" name="phone" placeholder="Phone Number" />
                </div>
                <div class="field">
                    <input type="email" name="email" placeholder="Email Address" />
                </div>
            </div>
        </div>
        <div class="field">
            <label>Message: <br /><textarea name="message"></textarea></label>
        </div>
        <div class="field">
            <label>Hotel Rating: </label>
            <div class="ui selection dropdown" tabindex="0">
                <select name="rating[]">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option selected value="5">5</option>
                </select>
            </div>
        </div>
        <div class="field">
            <label>What are you looking for?</label>
            <div class="fields">
                <div class="field">
                    <input type="text" name="rooms" placeholder="Number of Rooms" />
                </div>
                <div class="field">
                    <input type="text" name="suites" placeholder="Number of Suites" />
                </div>
                <div class="field">
                    <input type="text" name="occupancy" placeholder="Occupancy" />
                </div>
            </div>
        </div>
            
        <div data-netlify-recaptcha="true"></div>
        <p>
          <button class="ui button" type="submit">Send</button>
        </p>
    </form>


    