 <form name="contact" netlify-honeypot="human" data-netlify="true" data-netlify-recaptcha="true" class="ui form">
        <p>Contact Us for a quote.</p>
        <p style="display:none;">
            <label>Don’t fill this out if you're human: <input name="human" /></label>
        </p>
        <p>
            <label>First Name: <input type="text" name="firstname" /></label>
            <label>Last Name: <input type="text" name="lastname" /></label>
            <label>Company Name: <input type="text" name="company" /></label>
            <label>Email: <input type="email" name="email" /></label>
            <label>Contact Number: <input type="number" name="phone" /></label>
            <label>Message: <br /><textarea name="message"></textarea></label>
            <label>Hotel Rating: </label>
            <div class="ui selection dropdown" tabindex="0">
                <div class="default text">Choose an option</div>
                <select name="rating[]">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option selected value="5">5</option>
                </select>
            </div>
            <label>Number of Rooms: <input type="text" name="rooms" /></label>
            <label>Number of Suites: <input type="text" name="suites" /></label>
            <label>Occupancy: <input type="text" name="occupancy" /></label>
            <label>Contact Number: <input type="text" name="phone" /></label>
        </p>
        <div data-netlify-recaptcha="true"></div>
        <p>
          <button class="ui button" type="submit">Send</button>
        </p>
    </form>


    